:root {
  --clr-very-dark: #303030;
  --clr-dark: #5801CB;
  --clr-light-dark: #6900F3;
  --clr-primary: #a36fe3;
  --clr-second-primary:#D18FFF;
  --clr-secondary: plum;
  --clr-tertiary: #f2d3ed;
  --clr-light: white;
  --clr-accent: #f5df38;
  
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Cairo', sans-serif;
  --ff-fancy: 'Dancing Script', cursive;
}

h1, h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  padding: 0.5em 0;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}

input[type=file] {
  width: 100%;
}

.App {
  text-align: center;
}

.logo-link {
  transform: scale(1);
  transition: transform 250ms;
}

.logo-link:hover,
.logo-link:focus {
  text-decoration: none;
  transform: scale(1.05);
}

.logo-title {
  color: var(--clr-dark);
  font-size: 1.1em;
  font-weight: 500;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  /* background: pink; */
}

.navbar-link {
  margin: 0 1em;
  text-transform: uppercase;
  font-size: 1.1em;
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-weight: 600;
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--clr-primary);
  border-bottom: 2px solid var(--clr-primary);
  text-decoration: none;
}

/* Change layout of navigation bar for small screens */
@media (max-width: 890px) {

  .App-navbar {
      flex-direction: column;
      align-items: center;
  }

  .App-logo {
    margin-bottom: 1em;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .navbar-link:hover,
  .navbar-link:focus {
    border-bottom: none;
  }
}

/* Footer */

footer {
  background: var(--clr-very-dark);
  color: var(--clr-tertiary);
  text-align: center;
  padding: 1.5em 0;
  margin: 2em 0;
  font-size: 1.3em;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.footer-email {
  font-family: var(--ff-secondary);
  letter-spacing: 1px;
}

.footer-email:hover,
footer a:hover {
  color: var(--clr-dark);
}

.footer-email:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list-item {
  margin: 0 0.5em;
}

.social-list-link {
  padding: 0.5em;
}
