*, *::before, *::after {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.1rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.8rem;
        --fs-h2: 3.2rem;
        --fs-h3: 1.4rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

strong {
    font-weight: var(--fw-bold);
}

.section-title {
    text-align: left;
    color: var(--clr-dark);
}

.intro .section-subtitle,
.intro .section-title {
    font-weight: var(--fw-reg);
}

.intro .section-subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro .section-subtitle,
.about-me .section-subtitle {
    margin-bottom: 1em;
    font-size: var(--fs-h3);
    background: var(--clr-tertiary);
    font-family: var(--ff-secondary);
    padding: 0.25em 1em;
}

/* Intro section */

.intro {
    position: relative;
}

.intro-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2; /*put the image in front*/
    }

    .intro .section-subtitle {
        margin-bottom: 1em;
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        width: calc(100%);
    }

}

/* My services section */

/* .my-services {
    background-color: #540366;
    background-image: url(../bioinformatics.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.my-services .section-title {
    color: var(--clr-second-primary);
    position: relative;
}

.my-services .section-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-second-primary);
    opacity: 0.7;
}

.services {
    margin-bottom: 2em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 3em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .about-me .section-title {
        grid-area: title;
    }

    .about-me .section-subtitle {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me-img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
} */

/* My Work */

/* .my-work {
    background-color: var(--clr-very-dark);
    color: var(--clr-light);
    text-align: center;
}

.my-work .section-subtitle {
    color: var(--clr-second-primary);
    background-color: var(--clr-very-dark);
    font-weight: var(--fw-reg);
    margin: 1em 0;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.portfolio-item {
    background: var(--clr-second-primary);
    overflow: hidden;  
}

.portfolio-img {
    object-fit: cover;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
    opacity: 0.75;
} */