:root {
  --clr-dark: #5801CB;
  --clr-light-dark: #6900F3;
  --clr-primary: #a36fe3;
  --clr-secondary: plum;
  --clr-tertiary: #f2d3ed;
  --clr-light: white;
  --clr-accent: #f5df38;
  
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Cairo', sans-serif;
  --ff-fancy: 'Dancing Script', cursive;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, p, code {
  font-family: var(--ff-primary);
  color: var(--clr-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  font-weight: 600;
  line-height: 1.5;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}
input[type=file] {
  width: 100%;
}